@font-face {
  font-family: 'Unifont';
  src: url('../webfonts/unifont_jp-16.0.02.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  background-color: #fcfcf0;
  padding: 16px 25%;
  text-align: center;
  font-family: 'Unifont', sans-serif;
}

.logo{
  margin-bottom: 32px;
}

.nav-wrap{
  margin-bottom: 16px;
}
.nav-wrap ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
}
