html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Geist", "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  padding: 0;
}

.nav-wrap {
  display: flex;
  gap: 16px;
}

.nav ul {
  list-style: none;
}

.fa-brands::before {
  color: black;
}

header {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: salmon;
  border-bottom: 2px solid;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: 400;
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  -webkit-text-stroke: 6px black;
  color: white;
  z-index: -1;
  position: relative;
  paint-order: stroke;
  text-shadow: 0px 0px transparent, 1px 2px #000000, 2px 4px #000000, 3px 6px #000000, 4px 8px #000000, 5px 10px #000000, 6px 12px #000000, 7px 14px #000000, 8px 16px #000000, 9px 18px #000000, 10px 20px #000000, 11px 22px #000000, 12px 24px #000000, 13px 26px #000000, 14px 28px #000000, 15px 30px #000000, 16px 32px #000000, 17px 34px #000000, 18px 36px #000000, 19px 38px #000000, 20px 40px #000000, 21px 42px #000000, 22px 44px #000000, 23px 46px #000000, 24px 48px #000000, 25px 50px #000000, 26px 52px #000000, 27px 54px #000000, 28px 56px #000000, 29px 58px #000000, 30px 60px #000000, 31px 62px #000000, 32px 64px #000000, 33px 66px #000000, 34px 68px #000000, 35px 70px #000000, 36px 72px #000000, 37px 74px #000000, 38px 76px #000000, 39px 78px #000000, 40px 80px #000000;
  margin-bottom: 30px;
}

.intro {
  height: calc(100vh - 72px);
  background-image: url(../img/me.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px 60px;
  overflow-y: auto;
  position: relative;
}

.intro h1 {
  color: white;
  font-weight: 800;
  font-size: 2.5vw;
  position: sticky;
  top: 0;
}

.social-media ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.content {
  padding: 32px 80px 72px;
}

.content-wrap {
  padding: 40px 40px;
  border: solid 2px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
  background-color: lightcyan;
}

footer {
  height: calc(100vh - 72px);
  width: 100%;
  border-top: solid 2px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: white;
}

.wave-text span {
  display: inline-block;
  font-size: 6vw;
  font-weight: 900;
  animation: wave 2s ease-in-out infinite;
  -webkit-text-stroke: 6px black;
  color: white;
  paint-order: stroke;
}
.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.1s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(4) {
  animation-delay: 0.3s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(6) {
  animation-delay: 0.5s;
}
.wave-text span:nth-child(7) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(8) {
  animation-delay: 0.7s;
}
.wave-text span:nth-child(9) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(10) {
  animation-delay: 0.9s;
}
.wave-text span:nth-child(11) {
  animation-delay: 1s;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}/*# sourceMappingURL=style.css.map */