@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Geist", "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  padding: 0;
}

.nav-wrap {
  display: flex;
  gap: 32px;
}

.fa-brands::before {
  color: black;
}

header {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: salmon;
  border-bottom: 2px solid;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .logo {
  font-weight: 400;
  font-size: 32px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.nav ul li a {
  color: #000000;
  text-decoration: none;
}

#about {
  scroll-margin-top: 72px;
}

#work {
  scroll-margin-top: 72px;
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  -webkit-text-stroke: 6px black;
  color: white;
  z-index: -1;
  position: relative;
  paint-order: stroke;
  text-shadow: 0px 0px transparent, 1px 2px #000000, 2px 4px #000000, 3px 6px #000000, 4px 8px #000000, 5px 10px #000000, 6px 12px #000000, 7px 14px #000000, 8px 16px #000000, 9px 18px #000000, 10px 20px #000000, 11px 22px #000000, 12px 24px #000000, 13px 26px #000000, 14px 28px #000000, 15px 30px #000000, 16px 32px #000000, 17px 34px #000000, 18px 36px #000000, 19px 38px #000000, 20px 40px #000000, 21px 42px #000000, 22px 44px #000000, 23px 46px #000000, 24px 48px #000000, 25px 50px #000000, 26px 52px #000000, 27px 54px #000000, 28px 56px #000000, 29px 58px #000000, 30px 60px #000000, 31px 62px #000000, 32px 64px #000000, 33px 66px #000000, 34px 68px #000000, 35px 70px #000000, 36px 72px #000000, 37px 74px #000000, 38px 76px #000000, 39px 78px #000000, 40px 80px #000000, 41px 82px #000000, 42px 84px #000000, 43px 86px #000000, 44px 88px #000000, 45px 90px #000000, 46px 92px #000000, 47px 94px #000000, 48px 96px #000000, 49px 98px #000000, 50px 100px #000000, 51px 102px #000000, 52px 104px #000000, 53px 106px #000000, 54px 108px #000000, 55px 110px #000000, 56px 112px #000000, 57px 114px #000000, 58px 116px #000000, 59px 118px #000000, 60px 120px #000000, 61px 122px #000000, 62px 124px #000000, 63px 126px #000000, 64px 128px #000000, 65px 130px #000000, 66px 132px #000000, 67px 134px #000000, 68px 136px #000000, 69px 138px #000000, 70px 140px #000000, 71px 142px #000000, 72px 144px #000000, 73px 146px #000000, 74px 148px #000000, 75px 150px #000000, 76px 152px #000000, 77px 154px #000000, 78px 156px #000000, 79px 158px #000000, 80px 160px #000000;
  margin-bottom: 30px;
}

h2 span {
  display: inline-block;
  animation: waveCalm 4s ease-in-out infinite;
}
h2 span:nth-child(1) {
  animation-delay: 0s;
}
h2 span:nth-child(2) {
  animation-delay: 0.3s;
}
h2 span:nth-child(3) {
  animation-delay: 0.6s;
}
h2 span:nth-child(4) {
  animation-delay: 0.9s;
}
h2 span:nth-child(5) {
  animation-delay: 1.2s;
}
h2 span:nth-child(6) {
  animation-delay: 1.5s;
}
h2 span:nth-child(7) {
  animation-delay: 1.8s;
}
h2 span:nth-child(8) {
  animation-delay: 2.1s;
}
h2 span:nth-child(9) {
  animation-delay: 2.4s;
}
h2 span:nth-child(10) {
  animation-delay: 2.7s;
}
h2 span:nth-child(11) {
  animation-delay: 3s;
}

.intro {
  height: calc(100vh - 72px);
  background-image: url(../img/me.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px 60px;
  overflow-y: auto;
  position: relative;
}

.intro h1 {
  color: white;
  font-weight: 800;
  font-size: max(5vw, 40px);
  position: sticky;
  top: 0;
  filter: blur(3px);
  text-shadow: 0px 0px transparent, 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000;
  color: white;
  paint-order: stroke;
}

.social-media ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.content {
  padding: 20px 80px 72px;
}

.content-wrap {
  padding: 40px 40px;
  border: solid 2px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
  background-color: white;
  margin-bottom: 32px;
}

.content-wrap.about {
  background-color: lightcyan;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin-top: 32px;
  margin-bottom: 60px;
}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
}
.scroll-content.rev {
  animation: scrollRev 20s linear infinite;
}

.item {
  flex: 0 0 auto;
  margin: 0 20px; /*左右の余白はここを調整*/
  text-align: center;
  font-size: 4vw;
  font-weight: 800;
  -webkit-text-stroke: 6px black;
  text-shadow: 0px 0px transparent, 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000, 9px 9px #000000, 10px 10px #000000, 11px 11px #000000, 12px 12px #000000;
  color: white;
  paint-order: stroke;
}

#Ae-Pr {
  color: #9d9dff;
}

#Ai {
  color: #f89e1a;
}

#Ps-Lrc {
  color: #3cabff;
}

#Blender {
  color: #e9811e;
}

#Eclipse {
  color: #f7941d;
}

#JN {
  color: #f37c30;
}

#SO {
  color: #4fedfd;
}

#VSC {
  color: #3babf2;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollRev {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.works {
  display: grid;
  /* 
     repeat -> 列の定義を繰り返し行う
     auto-fit -> 利用可能なスペースに基づいて、自動的に列数を調整する
     minmax(最小幅, 最大幅)
  */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5%;
}

.content-wrap.work {
  background-color: cornsilk;
  flex-wrap: wrap;
  flex-direction: column;
}

.work h3 {
  text-align: center;
  margin-bottom: 20px;
}

.work ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.work ul li {
  padding: 4px 8px;
  width: auto;
  border: solid 2px;
  border-radius: 30px;
  background-color: white;
  white-space: nowrap;
}

.work p {
  margin-bottom: 40px;
}

/* モーダルを開くボタン */
.modal-open {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  width: auto;
  height: auto;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* モーダルと背景の指定 */
.modal {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-sizing: border-box;
}

.youtube {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* モーダルの擬似要素の指定 */
.modal:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
  opacity: 1;
  visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 90%;
  border: solid 2px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
  text-align: left;
  line-height: 1.8;
  padding: 20px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
  margin: 1em 0;
}

footer {
  height: calc(100vh - 72px);
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

footer span {
  color: white;
}

.wave-text span {
  display: inline-block;
  font-size: 6vw;
  font-weight: 900;
  animation: wave 2s ease-in-out infinite;
  -webkit-text-stroke: 6px black;
  color: white;
  paint-order: stroke;
}
.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.1s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(4) {
  animation-delay: 0.3s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(6) {
  animation-delay: 0.5s;
}
.wave-text span:nth-child(7) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(8) {
  animation-delay: 0.7s;
}
.wave-text span:nth-child(9) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(10) {
  animation-delay: 0.9s;
}
.wave-text span:nth-child(11) {
  animation-delay: 1s;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}
@keyframes waveCalm {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 767px) {
  .nav-wrap {
    display: none;
  }
  .logo {
    align-items: center;
    justify-content: center;
  }
  .content {
    padding: 32px 10px 72px;
  }
  .content-wrap {
    padding: 20px 30px;
    border: solid 2px;
    border-radius: 5px;
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    background-color: lightcyan;
  }
}/*# sourceMappingURL=style.css.map */